//main :../styles.less
.about-us_conteiner {
    max-width: 895px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.about-us {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.about-us_text,
.about-us_img {
    width: 50%;
    position: relative;
}

.about-us-subtitle {
    padding-top: 30px;
    padding-right: 35px;
    font-family: @fontFamily;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
}

.about-us_logo__text {
    font-family: @fontFamily;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
}

.about-us_photo {
    position: absolute;

    &.first {
        top: 50%;
        transform: translateY(-50%);
    }

    &.second {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &.third {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &.square1 {
        top: 0;
        transform: translateX(75%);
    }

    &.square2 {
        bottom: 0;
        right: 0;
        transform: translate(37%, 27%);
    }

}