// main : ../styles.less

.work_scheme-title {
    margin: 75px 0;
}

.work_scheme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work_scheme__column {
    margin: 0 -15px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    width: 25%;

    @media (max-width: 400px){
        width: auto;
    }
}

.work_scheme__column-title {
    font-family: @fontFamily;
    font-size: 25px;
    line-height: 21px;
    font-weight: 900;
    color: #01a9ff;

    @media (max-width: 400px){
        padding-top: 15px;
    }
}

.work_scheme__column-subtitle {
    font-family: @fontFamily;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    padding-top: 20px;
    color: #ffffff;

    @media (max-width: 730px){
        font-size: 14px;
        line-height: 18px;
    }

    @media (max-width: 510px){
        font-size: 12px;
        line-height: 15px;
    }

    @media (max-width: 445px){
        font-size: 11px;
        line-height: 11px;
    }

    @media (max-width: 400px){
        padding-top: 10px;
    }
}


.work_scheme__text {
    display: block;
    margin: 45px auto 0;
    padding: 14px;
    opacity: 0.45;
    background-color: #585858;

    font-family: @fontFamily;
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;

    @media (max-width: 510px){
        font-size: 12px;
        line-height: 15px;
    }

    @media (max-width: 460px){
        text-align: center;
    }

}